.booking_container {
  min-height: 70vh;
}

.booking_page {
  margin: 20px auto;
  min-height: 70vh;
}
.booking_page_details {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}
.booking_page_heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--hover);
}
.booking_page_heading > h2 {
  font-size: 3rem;
}
.booking_page_content {
  border: 2px solid lightgray;
  border-radius: 5px;
  box-shadow: 5px 5px 10px lightgray;
  width: 100%;
}

thead > tr > th {
  text-align: center;
}

tbody > tr > th,
tr {
  text-align: center;
}
