html {
  font-size: 62.5%;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .header_select_box {
    margin-bottom: 5px;
    border-radius: 5px;
    border-right: none;
  }
  .hotel_list_img > img {
    border-radius: none;
  }
  .hotel_view_content_right_checkIn {
    width: 100%;
  }
  .hotel_view_content_right_checkIn > .form-group {
    width: 100%;
  }
  .hotel_view_content_right_btn {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 55%;
  }
}
